Source: ros-kilted-swri-console
Section: misc
Priority: optional
Maintainer: "Southwest Research Institute" <swri-robotics@swri.org>
Build-Depends: debhelper (>= 9.0.0), qt6-base-dev, ros-kilted-ament-cmake, ros-kilted-rcl-interfaces, ros-kilted-rclcpp, ros-kilted-rcutils, ros-kilted-rmw, ros-kilted-rosbag2-storage, ros-kilted-rosbag2-transport, ros-kilted-ros-workspace
Homepage: http://ros.org/wiki/swri_console
Standards-Version: 3.9.2

Package: ros-kilted-swri-console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt6core6, libqt6gui6, libqt6widgets6, qt6-base-dev, ros-kilted-rcl-interfaces, ros-kilted-rclcpp, ros-kilted-rcutils, ros-kilted-rmw, ros-kilted-rosbag2-storage, ros-kilted-rosbag2-storage-mcap, ros-kilted-rosbag2-transport, ros-kilted-ros-workspace
Description: A rosout GUI viewer developed at Southwest Research Institute as an alternative to rqt_console.
