Source: ros-jazzy-swri-console
Section: misc
Priority: optional
Maintainer: "Southwest Research Institute" <swri-robotics@swri.org>
Build-Depends: debhelper (>= 9.0.0), qt6-base-dev, ros-jazzy-ament-cmake, ros-jazzy-rcl-interfaces, ros-jazzy-rclcpp, ros-jazzy-rcutils, ros-jazzy-rmw, ros-jazzy-rosbag2-storage, ros-jazzy-rosbag2-transport, ros-jazzy-ros-workspace
Homepage: http://ros.org/wiki/swri_console
Standards-Version: 3.9.2

Package: ros-jazzy-swri-console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt6core6, libqt6gui6, libqt6widgets6, qt6-base-dev, ros-jazzy-rcl-interfaces, ros-jazzy-rclcpp, ros-jazzy-rcutils, ros-jazzy-rmw, ros-jazzy-rosbag2-storage, ros-jazzy-rosbag2-storage-mcap, ros-jazzy-rosbag2-transport, ros-jazzy-ros-workspace
Description: A rosout GUI viewer developed at Southwest Research Institute as an alternative to rqt_console.
